<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Site info-->
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{{name}}-{{summary}}">
    <meta name="author" content="{{name}}">
    <!-- fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <!-- Stylesheets -->
     <link rel="stylesheet" href="css/styles.css"/>
     <!-- favicon -->
     <link rel="icon" type="image/svg+xml" href="img/dh.png" />
</head>
<body>
    <header >
        <div class="banner">
             <div class="title">
                <h1>Software Engineer</h1>
                <h2>Dinku Hamda</h2>
            </div>
            <div class="contact">
                <a href="">dinku22@gmail.com</a>
               | <a href="https://www.linkedin.com/in/dinku-hamda"> https://www.linkedin.com/in/dinku-hamda</a>
               | <a href="https://www.github.com/Seena2">https://www.github.com/Seena2</a>
            </div>
        </div>
        <nav>
            <div class="logo">
                <a href="index.html"><img src="img/dh.png" alt="logo"></a> 
            </div>
            <ul class="nav_links">
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="blogs.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
     <main>
           <!-- The inheriting file will inject its contents here -->
        {% block content %}{% endblock %}
     </main>
     <footer>
<div class="social_links">
    <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Linkin</li>
    </ul>
</div>
     </footer>
</body>
</html>
