<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Site info-->
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{{name}}-{{summary}}">
    <meta name="author" content="{{name}}">
    <!-- fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <!-- Stylesheets -->
     <link rel="stylesheet" href="./css/styles.css"/>
     <!-- favicon -->
     <link rel="icon" type="image/svg+xml" href="img/dh.png" />
</head>
<body>
    <header >
        <div class="banner">
             <div class="title">
                {% if label %}<h1>{{label}}</h1>{% endif %}
                <h2>{{name}}</h2>
            </div>
            <!-- Contact address -->
             {% if contact.email or contact.phone or contact.location %}
             <Address >
                <ul class="contact">
                    {% if contact.email %}<li><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li> {% endif %}
                  |  <li><a href="https://seena2.github.io/">Seena2.com</a></li>
                  |  <li><a href="https://www.linkedin.com/in/dinku-hamda">https://www.linkedin.com/in/dinku-hamda</a></li>
                  |  <li><a href="https://www.github.com/Seena2">https://www.github.com/Seena2</a></li>
                <!-- |   {% if contact.phone %}<li></li><a href="tel:+{{ contact.phone | replace('-', '') }}">{{ contact.phone }}</a>{% endif %}
                |   {% if contact.location %}<li>{{ contact.location }}</li>{% endif %} -->
                </ul>
             </Address>
             {% endif %}
             
   
            
        </div>
        <nav>
            <div class="logo">
                <a href="index.html"><img src="img/dh.png" alt="logo"></a> 
            </div>
            <ul class="nav_links">
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="blogs.html">Blog</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <div></div>
        </nav>
    </header>
     <main>
           <!-- The inheriting file will inject its contents here -->
        {% block content %}{% endblock %}
     </main>
      <footer class="page-footer">
      <div class="container">
        <!-- Social media links -->
              {% if social_links %}
              <ul class="social_liks">
                {% for link in social_links %}
                  <li><a href="{{ link.url }}" rel="noopener noreferrer" aria-label="{{ link.label }}" class="link-with-icon">
                      {% if link.svg_data %}{{ link.svg_data | safe }}{% endif %}
                      {{ link.label }}
                    </a>
                  </li>
               
                {% endfor %}
              </ul>
            {% endif %}
        <p>© {{ current_year }} {{ name }}. All rights reserved.</p>
      </div>
    </footer>

    <script src="js/app.js"></script>
</body>
</html>
