<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Site info-->
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{{name}}-{{summary}}">
    <meta name="author" content="{{name}}">
    <!-- fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <!-- Stylesheets -->
     <link rel="stylesheet" href="css/styles.css"/>
     <!-- favicon -->
     <link rel="icon" type="image/svg+xml" href="img/dh.png" />
</head>
<body>
    <header >
        <div class="banner">
             <div class="title">
                {% if label %}<h3>{{label}}</h3>{% endif %}
                <h5>{{name}}</h5>
            </div>
            <!-- Contact address -->
             {% if contact.email or contact.phone or contact.location %}
             <Address >
                <ul class="contact">
                    {% if contact.email %}<li><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li> {% endif %}
                   <li class="left_border"><a href="https://seena2.github.io/">www.Seena2.com</a></li>
                   <li class="left_border"><a href="https://www.linkedin.com/in/dinku-hamda">www.linkedin.com/in/dinku-hamda</a></li>
                   <li class="left_border"><a href="https://www.github.com/Seena2">www.github.com/Seena2</a></li>
                <!-- |   {% if contact.phone %}<li></li><a href="tel:+{{ contact.phone | replace('-', '') }}">{{ contact.phone }}</a>{% endif %}
                |   {% if contact.location %}<li>{{ contact.location }}</li>{% endif %} -->
                </ul>
             </Address>
             {% endif %}
        </div>
       
    </header>
     <nav>
            <div class="logo">
                <a href="index.html"><img src="img/dh.png" alt="logo"></a> 
            </div>
            <div class="mobile_menu">
              <button class="burger-menu" id="burger-btn">☰ </button>
              <ul class="nav_menu" id="nav_menu">
                <button class="close-btn" id="close-btn">✖</button>
                <li><a href="index.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="blogs.html">Blog</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="desktop_menu">
              <ul  >
                <li><a href="index.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="blogs.html">Blog</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="account"></div>
        </nav>

     <main class="main-content">
        {% block content %}
         <!-- The inheriting file will inject its contents here -->
        {% endblock %}
     </main>

      <footer >
        
      <div class="page-footer">
        <div class="footer_logo">
            <a href="index.html"><img src="img/dh.png" alt="logo"></a>
            <p>Building solutions for your business </p>
        </div>
         
        <!-- Social media links -->
              {% if social_links %}
              <div class="footer_social_links"> 
                <ul class="social_liks">
                {% for link in social_links %}
                  <li><a href="{{ link.url }}" rel="noopener noreferrer" aria-label="{{ link.label }}" class="link-with-icon">
                      {% if link.svg_data %}{{ link.svg_data | safe }}{% endif %}
                      {{ link.label }}
                    </a>
                  </li>
                {% endfor %}
               </ul>
              </div>
            {% endif %}
      </div>
       <p class="copyright">© {{ current_year }} {{ name }}, All rights reserved.</p>
    </footer>



    <script src="js/main.js"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>
