{% extends "_base.html" %}
{% block title %}{{name}} - {{ title }}{% endblock %}
{% block content %}

<div class="portfolio-container">
 
  <div class="right_container">
       

       

        <!-- Blogs -->
        <section id="projects" class="section-container">
               {% if blogs %}
                <div class="projects">
                     <h4 class="section-heading">Blogs</h4>
                     <div class="projects_list">
                         {% for blog in blogs %}
                         <ul>
                          <li>
                           <h5 class="blog_title">{{blog.title}}</h5> 
                             <div class="blog_view">
                              <span>{{blog.abstract}}</span> <button class="readBtn">read</button>
                             </div>
                          </li>
                         </ul>
                         {% endfor %}
                     </div> 
                 </div>
                 
            {% endif %}
        </section>

   

  </div>
</div>
{% endblock %}