{% extends "_base.html" %}
{% block title %}{{name}} - {{ title }}{% endblock %}
{% block content %}

<div class="portfolio-container">
 
  <div class="right_container">
       
        <!-- Courses -->
        <section id="projects" class="section-container">
               {% if courses %}
                <div class="projects">
                     <h4 class="section-heading">Courses</h4>
                     <div class="projects_list">
                         {% for course in courses %}
                         <ul>
                          <li>
                            <span class="course_title">{{course.title}}</span>
                            
                             <div class="projectDescription">
                              <span>{{course.summary}}</span> <button> enroll</button>
                             </div>
                          </li>
                         </ul>
                         {% endfor %}
                     </div> 
                 </div>
                 
            {% endif %}
        </section>

   

  </div>
</div>
{% endblock %}