{% extends "_base.html" %}
{% block title %}{{name}} - {{ title }}{% endblock %}
{% block content %}
    
    <div class="container">
        <main class="main_content">
          <!-- Summary -->
            {% if summary %}
            <section class="summary">
                <h2 class="section-heading">About me</h2>
                 {% for para in summary %}
                <p class="summary_paragraph">{{ para }}</p>
                 {% endfor %}
            </section>
            {% endif %}

            <!-- Experiance -->
             {% if work_experience %}
            <section>
              <h2 class="section-heading">Work Experience</h2>
              {% for job in work_experience %}
                <section>
                  <div class="job_title">
                    {% if job.position %}
                      <h3 >{{job.position}}</h3>
                     {% endif %}
                    <div class="job_company">
                        <div class="">
                          {% if job.url and job.location %}
                              {{ job.company }} ( <a href="{{ job.url }}">{{ job.company }}</a> )
                              {% if job.location %}  | <span>{{job.location}}</span>  {% endif %}
                          {% else %}
                              {{ job.company }}
                          {% endif %}
                        </div>
                        <div class="year">
                            {% if job.start_date and job.end_date %}
                           <p class="section-label">{{ job.start_date }} - {{ job.end_date }}</p>
                            {% endif %}
                        </div>
                    </div>
                    
                  </div>
                  {% if job.summary %}<p>{{ job.summary }}</p>{% endif %}
                  {% if job.highlights %}
                    <ul class="job_highlights">
                      {% for highlight in job.highlights %}<li>{{ highlight }}</li>{% endfor %}
                    </ul>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endif %}

          <!-- Projects -->
           {% if projects %}
            <section>
              <h2 class="section-heading">Projects</h2>
              <p>Some of my projects,</p>
              <div class="projects">
                {% for project in projects %}
                  <div class="card">
                    <figure>
                          <img src="{{project.thumbnail}}" alt="" srcset="" width="300" height="150">
                    </figure>
                    <div class="discription">
                      <h4>{{project.title}}</h4>
                      {% if project.summary %}<p>{{ project.summary }}</p>{% endif %}
                        {% if project.highlights %}
                        <ul>
                         {% for highlight in project.highlights %}<li>{{ highlight }}</li>{% endfor %}
                        </ul>
                      {% endif %}
                   </div>
                   <div class="card_btn">
                    <button>view details</button>
                   </div>
                   </div>
                {% endfor %}
              </div>
              <div class="section_btn">
                  <button class="view_button">More projects</button>
              </div>
              
            </section>
          {% endif %}


          <!-- Skills -->
            <!-- {% if skills %}
            <section>
              <h2 class="section-heading">Skills</h2>
              <ul class="unstyled-list">
                {% for skill in skills %}
                  <li>
                    <h3>{{ skill.name }}</h3>
                    <div class="skill-bar">
                      <div class="skill-bar-fill w-{{ skill.proficiency }}"
                           role="meter"
                           aria-valuenow="{{ skill.proficiency }}"
                           aria-valuemin="0"
                           aria-valuemax="100">
                        <span class="skill-bar-label">{{ skill.proficiency_label }}</span>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endif %} -->
          {% if skills2 %}
          <section class="skills">
             <h2 class="section-heading">Skills</h2>
            {% for skill in skills2 %}
            <div class="skill">
              <h4>{{skill.name}}</h4>:
              {% if skill.technologies %} 
                <div class="skill_list">
                   {% for tech in skill.technologies %} <span>{{tech}}</span>{% endfor %}
                </div>
                <span class="dots"> . . .</span>
              {% endif %} 
            </div>
            {% endfor %}
              </section>
          {% endif %}


          <!-- Volunteer work -->
          {% if volunteer_experience %}
            <section>
              <h2 class="section-heading">Volunteer Experience</h2>
              {% for vol in volunteer_experience %}
                <section>
                  <h3>
                    {% if vol.url %}
                      {{ vol.position }} at <a href="{{ vol.url }}">{{ vol.organization }}</a>
                    {% else %}
                      {{ vol.position }} at {{ vol.organization }}
                    {% endif %}
                  </h3>
                  {% if vol.start_date and vol.end_date %}
                    <p class="section-label">{{ vol.start_date }} - {{ vol.end_date }}</p>
                  {% endif %}
                  {% if vol.summary %}<p>{{ vol.summary }}</p>{% endif %}
                  {% if vol.highlights %}
                    <ul>
                      {% for highlight in vol.highlights %}<li>{{ highlight }}</li>{% endfor %}
                    </ul>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endif %}

          {% if references %}
            <section>
              <h2 class="section-heading">References</h2>
              {% for ref in references %}
                <section>
                  {% if ref.name %}<h3>{{ ref.name }}</h3>{% endif %}
                  {% if ref.relation %}<p class="section-label">{{ ref.relation }}</p>{% endif %}
                  {% if ref.reference %}
                    <blockquote>
                      {{ ref.reference }}
                    </blockquote>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endif %}

        </main>
       <!-- Sidebar Section -->
        <aside>
          {% if education %}
            <section>
              <h2 class="section-heading">Education</h2>
              {% for edu in education %}
                <section>
                  <h3>
                    {% if edu.url %}
                      <a href="{{ edu.url }}">{{ edu.institution }}</a>
                    {% else %}
                      {{ edu.institution }}
                    {% endif %}
                  </h3>
                  {% if edu.location %}<p class="section-label">{{ edu.location }}</p>{% endif %}
                  {% if edu.degrees %}
                    <h4>Degrees</h4>
                    <ul>
                      {% for deg in edu.degrees %}<li>{{ deg }}</li>{% endfor %}
                    </ul>
                  {% endif %}
                  {% if edu.honors %}
                    <h4>Honors</h4>
                    <ul>
                      {% for hon in edu.honors %}<li>{{ hon }}</li>{% endfor %}
                    </ul>
                  {% endif %}
                  {% if edu.gpa_major or edu.gpa_cumulative or edu.graduation_date %}
                    <p>
                      {% if edu.gpa_major %}<span class="block">GPA in Major: {{ edu.gpa_major }}</span>{% endif %}
                      {% if edu.gpa_cumulative %}<span class="block">Cumulative GPA: {{ edu.gpa_cumulative }}</span>{% endif %}
                      {% if edu.graduation_date %}<span class="block">Graduation Date: {{ edu.graduation_date }}</span>{% endif %}
                    </p>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endif %}

         

          {% if languages %}
            <section>
              <h2 class="section-heading">Languages</h2>
              <ul class="unstyled-list">
                {% for lang in languages %}
                  <li>
                    <h3>{{ lang.language }}</h3>
                    <p class="section-label">{{ lang.fluency }}</p>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endif %}

          {% if interests %}
            <section>
              <h2 class="section-heading">Interests</h2>
              {% for interest in interests %}
                <section>
                  <h3>{{ interest.name }}</h3>
                  {% if interest.summary %}<p>{{ interest.summary }}</p>{% endif %}
                  {% if interest.images %}
                    <div class="gallery side-gallery">
                      {% for img in interest.images %}
                        <figure>
                          <img width="600"
                               height="338"
                               src="{{ img.img_path }}"
                               alt="{{ img.caption }}">
                          <figcaption>{{ img.caption }}</figcaption>
                        </figure>
                      {% endfor %}
                    </div>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endif %}
        </aside>

    </div>
{% endblock %}