{% extends "_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    
    <div class="container">
        <div class="main_content">
            <div class="summary">
                <h1>summary</h1>
            <p>I am professional software engineer with 15+ years of hands-on job experience in designing, developing,
maintaining and shipping high-quality, reliable, scalable and performant applications while providing
leadership, guidance, and technical direction within development teams.
            </p>
            <p>My goal is to empower people and businesses by transforming business requirements into robust, scalable
and usable applications that solves real-world problems, improves lives, and drives innovation.</p>
            </div>
            

        </div>
        <div class="sidebar">
            <h1>This is sidebar</h1>
        </div>

    </div>
{% endblock %}